OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.llmod.ai/v1

EMBEDDING_MODEL=4UHRUIN-text-embedding-3-small
CHAT_MODEL=4UHRUIN-gpt-5-mini
EMBEDDING_DIMENSIONS=1536

PINECONE_API_KEY=
PINECONE_INDEX=medium-rag
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1

CSV_PATH=medium-english-50mb.csv

CHUNK_SIZE=512
OVERLAP_RATIO=0.10
TOP_K=8
